[Desktop Entry]
Encoding=UTF-8
Name=Ohm
Comment=Ohm P2P Cryptocurrency
Comment[fr]=Ohm, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Ohm, eşten eşe kriptografik sanal para birimi
Exec=ohmc-qt %u
Terminal=false
Type=Application
Icon=ohmc128
MimeType=x-scheme-handler/ohmc;
Categories=Office;Finance;
